workflows/workflow-fetch.json
{
  "name": "irritatie-fetch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "irritatie-fetch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-fetch",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "irritatie-fetch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "irritaties",
        "returnAll": true
      },
      "id": "table-getall",
      "name": "Get All Rows",
      "type": "n8n-nodes-base.n8nTable",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-sessie",
              "leftValue": "={{ $('Webhook').first().json.query.sessie }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-sessie",
      "name": "Has Sessie Filter?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-sessie",
              "leftValue": "={{ $json.sessie }}",
              "rightValue": "={{ $('Webhook').first().json.query.sessie }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-sessie",
      "name": "Filter by Sessie",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-filtered",
      "name": "Respond Filtered",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-all",
      "name": "Respond All",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Rows": {
      "main": [
        [
          {
            "node": "Has Sessie Filter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Sessie Filter?": {
      "main": [
        [
          {
            "node": "Filter by Sessie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Sessie": {
      "main": [
        [
          {
            "node": "Respond Filtered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false,
  "pinData": {}
}
