workflows/workflow-submit.json
{
  "name": "irritatie-submit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "irritatie-submit",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-submit",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "irritatie-submit"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableName": "irritaties",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessie": "={{ $json.sessie }}",
            "irritatie": "={{ $json.irritatie }}",
            "trigger_type": "={{ $json.trigger_type }}",
            "systemen": "={{ JSON.stringify($json.systemen) }}",
            "eindresultaat": "={{ $json.eindresultaat }}",
            "node_suggesties": "={{ $json.node_suggesties }}",
            "votes": "=0",
            "admin_notitie": "",
            "timestamp": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "table-insert",
      "name": "Insert Row",
      "type": "n8n-nodes-base.n8nTable",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"id\": $json.id } }}"
      },
      "id": "response-success",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Row": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false,
  "pinData": {}
}
